<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinuo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name="com.yinuo.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="3QU0yxjrbhQdz31Gmamm59AVyN9sfE47"/>

        <!--<activity android:name=".ui.SplashActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".base.WebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.MineActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.CityChoosePageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity android:name=".ui.sub.APPDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.sub.invest.InvestWeChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!--<activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation"-->
            <!--android:hardwareAccelerated="true"/>-->
        <!--<activity android:name="io.card.payment.DataEntryActivity" android:screenOrientation="portrait"/>-->

        <!-- loan sub page being -->
        <activity android:name=".qrcode.view.MipcaActivityCapture"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.sub.loan.LoanVipUniqueActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanApplyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanBalanceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanCalculatorActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanCardTicketActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanCCRepayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanCreditCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanCreditReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanExtremityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanProgressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanRateQueryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanRecepitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanRepaymentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanStrategyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.loan.LoanTransAccActivity"
            android:screenOrientation="portrait"/>
        <!-- loan sub page end -->

        <!-- workspace sub page begin -->
        <activity android:name=".ui.sub.workspace.WorkspaceTenementActivity"
            android:screenOrientation="portrait"/>
        <!-- workspace sub page end-->

        <!-- boss online page begin -->
        <activity android:name=".ui.sub.bossonline.BossOnlineAboutActivity"
            android:screenOrientation="portrait"/>
        <!-- boss online page end -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

</manifest>
