<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinuo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:name="com.yinuo.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.sub.APPDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"/>
        <activity android:name="io.card.payment.DataEntryActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.sub.LoanApplyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanBalanceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanCalculatorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanCardTicketActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanCCRepayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanCreditCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanCreditReportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanExtremityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanProgressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanRateQueryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanRecepitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanRepaymentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanStrategyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.sub.LoanTransAccActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
